@media print {
    footer {page-break-after: always;}
}
.titlechart {background-color:peachpuff; padding-left:10px; padding-top:5px; padding-bottom:5px}
.footer {font-family: "Century Gothic", Verdana, sans-serif;}

.laparent ol { counter-reset: item }
.laparent li { display: block ; counter-increment: item; }
.laparent li:before { content: " ("counter(item,lower-alpha)") "; }
  